
@tailwind base;
@tailwind components;
@tailwind utilities;


html, body, #root {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media (max-width: 399px) {
  .tw-bg-black-400px {
    background-color: #d1d5db; 
  }
}